{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "react",
    "^(?=^(?!.\/).+)(?=^(?!..\/).+)(?=^(?!assets|components|fileContent|pages|utils)).*$",
    "^(?=^(.\/).+)|(?=^(..\/).+)|(?=^(assets|components|fileContent|pages|utils)).*$"
  ],
  "importOrderSeparation": true
}
