.Icon {
  aspect-ratio: 1;
  width: 100%;
  min-width: 75px;
  margin: auto;
  text-overflow: ellipsis;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--primary-font-color);
  cursor: pointer;
  font-size: 12px;

  img {
    aspect-ratio: 1;
    width: 75%;
  }

  p {
    padding: 2px;
    overflow-wrap: anywhere;
  }

  &:focus > p {
    background-color: var(--primary-bg-color);
  }
}
